<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.littleheightsacademy">
    <!-- Internet permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LittleHeightsAcademy"
        tools:targetApi="31">
        <activity
            android:name=".AdminGenerateReportActivity"
            android:exported="false" />
        <!-- Parent Screens -->
        <activity
            android:name=".NavigationActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrationConfirmationActivity"
            android:exported="true" />
        <activity
            android:name=".TrackStatusActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterStudentActivity"
            android:exported="true" />
        <activity
            android:name=".ParentLoginActivity"
            android:exported="true" />
        <activity
            android:name=".ParentDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".ParentProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ParentViewReportsActivity"
            android:exported="true" />
        <!-- Admin Screens -->
        <activity
            android:name=".AdminViewStudentAccountActivity"
            android:exported="false" />
        <activity
            android:name=".AdminStudentMarksActivity"
            android:exported="false" />
        <activity
            android:name=".AdminUpdateSeatsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAllApplicationsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminEnrollmentVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".NavigationAdminActivity"
            android:exported="true" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".AdminInvoiceActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>